<h1>Welcome to Review Home</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% #TODO: investigate better way to flash alerts %>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>


<h2>Register User</h2>
<%= link_to "Register", new_user_path %>